{% extends 'common.html'%}
{%load static %}

{% block common%}
<head>
    <link rel="stylesheet" href="{%static 'home.css'%}">
</head>

<body  >

   <div style="color: orangered">
        <h1  align="center">Dashing Salwars!!!</h1>
   </div>
    <br>
    <br>
    <br>



    <br>
    <br>
    <br>

    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div  class="thumbnail" style="background-color: wheat">
            <img   width="300px" height="150px" src="{{ obj1.image.url }}" alt="image missing">
          </div>
              <h3>Type {{obj1.type}}</h3>
              <h3>Brand {{obj1.brandname}}</h3>
              <h3>price @{{obj1.price}}</h3>
        </div>


         <div class="col-lg-3 col-md-4 col-sm-6">
          <div  class="thumbnail" style="background-color: wheat">
            <img   width="300px" height="150px" src="{{ obj1.image.url }}" alt="image missing">
          </div>
              <h3>Type {{obj1.type}}</h3>
              <h3>Brand {{obj1.brandname}}</h3>
              <h3>price @{{obj1.price}}</h3>
        </div>


          <div class="col-lg-3 col-md-4 col-sm-6">
          <div  class="thumbnail" style="background-color: wheat">
            <img   width="300px" height="150px" src="{{ obj1.image.url }}" alt="image missing">
          </div>
              <h3>Type {{obj1.type}}</h3>
              <h3>Brand {{obj1.brandname}}</h3>
              <h3>price @{{obj1.price}}</h3>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <div  class="thumbnail" style="background-color: wheat">
            <img   width="300px" height="150px" src="{{ obj1.image.url }}" alt="image missing">
          </div>
              <h3>Type {{obj1.type}}</h3>
              <h3>Brand {{obj1.brandname}}</h3>
              <h3>price @{{obj1.price}}</h3>
        </div>


            <br><br><br>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <div  class="thumbnail" style="background-color: wheat">
            <img   width="300px" height="150px" src="{{ obj1.image.url }}" alt="image missing">
          </div>
              <h3>Type {{obj1.type}}</h3>
              <h3>Brand {{obj1.brandname}}</h3>
              <h3>price @{{obj1.price}}</h3>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <div  class="thumbnail" style="background-color: wheat">
            <img   width="300px" height="150px" src="{{ obj1.image.url }}" alt="image missing">
          </div>
              <h3>Type {{obj1.type}}</h3>
              <h3>Brand {{obj1.brandname}}</h3>
              <h3>price @{{obj1.price}}</h3>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <div  class="thumbnail" style="background-color: wheat">
            <img   width="300px" height="150px" src="{{ obj1.image.url }}" alt="image missing">
          </div>
              <h3>Type {{obj1.type}}</h3>
              <h3>Brand {{obj1.brandname}}</h3>
              <h3>price @{{obj1.price}}</h3>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <div  class="thumbnail" style="background-color: wheat">
            <img   width="300px" height="150px" src="{{ obj1.image.url }}" alt="image missing">
          </div>
              <h3>Type {{obj1.type}}</h3>
              <h3>Brand {{obj1.brandname}}</h3>
              <h3>price @{{obj1.price}}</h3>
        </div>

      </div>
    </div>

</body>
</html>

{% endblock%}